
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/customer/addCustomer}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						New Customer Information<span style="font-size: small"> * is a
							required field</span>
					</legend>
					
					<input hidden="hidden" name="id" th:value="${customer.id}" />
					
					
					<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="firstName">* First Name</label> 
													<input
														type="text" class="form-control" id="firstName"
														name="firstName" th:value="${customer.firstName}" required="required"/>
												</div>
												<div class="col-xs-6">
													<label for="lastName">* Last Name</label> 
													<input type="text"
														class="form-control" id="lastName" name="lastName"
														th:value="${customer.lastName}" required="required"/>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="currentPassword">* ID card number</label> ' 
											<input
												type="text" class="form-control" id="idNumber"
												name="idNumber" th:value="${customer.idNumber}" required="required"/>
										</div>
										

										<div class="form-group">
											<label for="email">* Email Address</label> ' 
											<input
												type="text" class="form-control" id="email" name="email"
												th:value="${customer.email}" required="required"/>
										</div>
										
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Add Customer</button>
							<a class="btn btn-danger" th:href="@{/}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
